extends layout.pug

block layout-content
  
    div.View.WelcomeView   
      h1.Banner Fluid Monitoring Tool
        h2.BannerSmall Patient H&SC Number - {db.patientHsc}. Patient Name - {db.patientName}. Patient DOB - {db.patientDob}. Staff Id - #{name}
      h1.BannerWhite 
        div.NavButtons 
          a(href="/index")
            div.NavButton Patient Details
          div.NavButtons 
            a(href="/childOrNeonate")
              div.NavButtonSelect Confirm Age
            div.NavButtons 
              a(href="/fluidCalculator")
                div.NavButton Fluid Calculator 
              div.NavButtons 
                a(href="/fluidChoice")
                  div.NavButton Fluid Choice
                div.NavButtons 
                  a(href="/fluidBalance")
                    div.NavButton Fluid Balance
                  div.NavButtons 
                    a(href="/fluidReview")
                      div.NavButton 24Hr Fluid Review
                    div.NavButtons 
                      a(href="/otherAssessments")
                        div.NavButton Other Assessments
                      div.NavButtons 
                        a(href="/recordBloodSugar")
                          div.NavButton Record Blood Sugar                                 
                        div.NavButtons 
                          a(href="/")
                            div.NavButton Login      
      
      div.BannerBlue Child or Neonate
      div.PageContent
        h3 Age
        div.Whitespace hello
        h2 Neonate (0-28 days)
          input(type='radio', name='platform', id='neonate', value='psn')
        div.Whitespace hello
        h2 Child (4 weeks up till 16th birthday)
          input(type='radio', name='platform', id='child', value='psn')
            