extends layout.pug

block layout-content
  
    div.View.WelcomeView   
      h1.Banner Fluid Monitoring Tool
        h2.BannerSmall Patient H&SC Number - {db.patientHsc}. Patient Name - {db.patientName}. Patient DOB - {db.patientDob}. Staff Id - #{name}
      h1.BannerWhite 
        div.NavButtons 
          a(href="/index")
            div.NavButton Patient Details]
          div.NavButtons 
            a(href="/childOrNeonate")
              div.NavButton Confirm Age
            div.NavButtons 
              a(href="/fluidCalculator")
                div.NavButton Fluid Calculator 
              div.NavButtons 
                a(href="/fluidChoice")
                  div.NavButton Fluid Choice
                div.NavButtons 
                  a(href="/fluidBalance")
                    div.NavButtonSelect Fluid Balance
                  div.NavButtons 
                    a(href="/fluidReview")
                      div.NavButton 24Hr Fluid Review
                    div.NavButtons 
                      a(href="/otherAssessments")
                        div.NavButton Other Assessments
                      div.NavButtons 
                        a(href="/recordBloodSugar")
                          div.NavButton Record Blood Sugar                                   
                        div.NavButtons 
                          a(href="/")
                            div.NavButton Login     
      
      div.BannerBlue Fluid Balance
      div.PageContent
        h3 Fluid Inputs
        div.Whitespace hello   
        select(name='dropdown' id="myselect" size="1" ,onClick="myclick()",style="margin-left:40px" )
          option(value='0') -- Select --
          option(value='1') Oral Intake
          option(value='2') Jejunal Feed
          option(value='3') Naso-gastric Feed
          option(value='4') PEG Feed
          option(value='5') Intravenous 1
        script.
              function myclick(){ 
              var t=$("#myselect").val().toString();
              $("#zaftot").val(t);
              $("#zaftot").focus();
              $("#myselect").hide();
            };
        div.Whitespace hello
        input(type='text', placeholder='Vol(ml)' name='input')
        div.Whitespace 
        div.Buttons
          a()
            div.Button Add Input
        div.Whitespace hello 
        input(type='text', placeholder='Table with Time, Source and Volume' name='input')
      div.BannerBlue 
      div.PageContent
        h3 Fluid Outputs
        div.Whitespace hello   
        select(name='dropdown' id="myselect" size="1" ,onClick="myclick()",style="margin-left:40px" )
          option(value='0') -- Select --
          option(value='1') Urine
          option(value='2') Faeces
          option(value='3') Gastric
          option(value='4') Drain
        script.
              function myclick(){ 
              var t=$("#myselect").val().toString();
              $("#zaftot").val(t);
              $("#zaftot").focus();
              $("#myselect").hide();
            };
        div.Whitespace hello
        input(type='text', placeholder='Vol(ml)' name='output')
        div.Whitespace 
        div.Buttons
          a()
            div.Button Add Output
        div.Whitespace hello
        input(type='text', placeholder='Table with Time, Source and Volume' name='input')
        
      div.BannerBlue  
      div.PageContent
        h3 Current Balances
        div.Whitespace hello   
        div.Buttons
          a()
            div.Button Calculate Balance
        div.Whitespace hello
        h2 Input (ml): 
          input(type='text', placeholder='Input' name='input')
        div.Whitespace hello
        h2 Urinary Output (ml):  
          input(type='text', placeholder='Output Balance' name='input')
        div.Whitespace hello
        h2 Current Balance (ml):  
          input(type='text', placeholder='Input - Output Balance' name='input')
      div.BannerBlue  