extends layout.pug

block layout-content
  
    div.View.WelcomeView   
      h1.Banner Fluid Monitoring Tool
        h2.BannerSmall Patient H&SC Number - {db.patientHsc}. Patient Name - {db.patientName}. Patient DOB - {db.patientDob}. Staff Id - #{name}
      h1.BannerWhite 
        div.NavButtons 
          a(href="/index")
            div.NavButton Patient Details
          div.NavButtons 
            a(href="/childOrNeonate")
              div.NavButton Confirm Age
            div.NavButtons 
              a(href="/fluidCalculator")
                div.NavButton Fluid Calculator 
              div.NavButtons 
                a(href="/fluidChoice")
                  div.NavButton Fluid Choice
                div.NavButtons 
                  a(href="/fluidBalance")
                    div.NavButton Fluid Balance
                  div.NavButtons 
                    a(href="/fluidReview")
                      div.NavButtonSelect 24Hr Fluid Review
                    div.NavButtons 
                      a(href="/otherAssessments")
                        div.NavButton Other Assessments
                      div.NavButtons 
                        a(href="/recordBloodSugar")
                          div.NavButton Record Blood Sugar                                 
                        div.NavButtons 
                          a(href="/")
                            div.NavButton Login       
      
      div.BannerBlue Fluid Review
      div.PageContent
        div.Whitespace
        div.Buttons
          a()
            div.Button Tabular Review - Today
        div.Whitespace
        div.Buttons
          a()
            div.Button Tabular Review - Previous 24hr
        div.Whitespace hello 
        div.Buttons
          a()
            div.Button Tabular Review - This Admission
        div.Whitespace hello 
        div.Buttons
            a()
              div.Button Grapic Review - Today
        div.Whitespace hello 
        div.Buttons
          a()
            div.Button Graphic Review - Previous 24hr
        div.Whitespace
        div.Buttons
          a()
            div.Button Graphic Review - This Admission
        div.Whitespace hello
      div.BannerBlue