extends layout.pug

block layout-content

    div.View.WelcomeView   
    h1.Banner Fluid Monitoring Tool
    div.BannerBlue Login
      div.PageContent
        div.text-center
          h3 Please Log in
            form(class="form-signin" method="GET" action="/index")
                #error
                    if error
                        p.text-danger Error!!!
                label(for="inputEmail" class="sr-only") 
                input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
                label(for="inputPassword" class="sr-only") 
                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)
                div.Whitespace hello
                - var divClasses=['checkbox', 'mb-3']; 
                    div(class=divClasses)
                        label
                            input(type="checkbox" value="remember-me")
                            span Remember me
                div.Whitespace hello
                - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                  button(class=buttonClass type="submit") Sign in
        
