extends layout.pug

block layout-content
  
    div.View.WelcomeView   
      h1.Banner Fluid Monitoring Tool
        h2.BannerSmall Patient H&SC Number - {db.patientHsc}. Patient Name - {db.patientName}. Patient DOB - {db.patientDob}. Staff Id - #{name}
      h1.BannerWhite 
        div.NavButtons 
          a(href="/index")
            div.NavButton Patient Details
          div.NavButtons 
            a(href="/childOrNeonate")
              div.NavButton Confirm Age
            div.NavButtons 
              a(href="/fluidCalculator")
                div.NavButton Fluid Calculator 
              div.NavButtons 
                a(href="/fluidChoice")
                  div.NavButton Fluid Choice
                div.NavButtons 
                  a(href="/fluidBalance")
                    div.NavButton Fluid Balance
                  div.NavButtons 
                    a(href="/fluidReview")
                      div.NavButton 24Hr Fluid Review
                    div.NavButtons 
                      a(href="/otherAssessments")
                        div.NavButtonSelect Other Assessments
                      div.NavButtons 
                        a(href="/recordBloodSugar")
                          div.NavButton Record Blood Sugar                                 
                        div.NavButtons 
                          a(href="/")
                            div.NavButton Login            
      div.BannerBlue Other Assessments
      div.PageContent
        h3 Visual Infusion Phlebitis Score
        div.Whitespace hello
        select(name='dropdown' id="myselect" size="1" ,onClick="myclick()",style="margin-left:40px" )
          option(value='0') -- Select --
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5
        script.
          function myclick(){ 
          var t=$("#myselect").val().toString();
          $("#zaftot").val(t);
          $("#zaftot").focus();
          $("#myselect").hide();
            };
        img.image(src='/vipScore.jpg')
      div.BannerBlue


//- mongoose.connect(process.env.DATABASE, { useMongoClient: true });
//- mongoose.Promise = global.Promise;
//- mongoose.connection
//-   .on('connected', () => {
//-     console.log(`Mongoose connection open on ${process.env.DATABASE}`);
//-   })
        // .on('error', (err) => {
  //   console.log(`Connection error: ${err.message}`);
  // });
//require('dotenv').config();