

@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --logo-font: "Share Tech Mono", monospace;
  --header-font: "Raleway", sans-serif;
  --core-font: "Merriweather Sans", sans-serif;

  --primary: #4197fa;
  --secondary: #2a3747;

  --highlight: #4197fa;

  --ui-shawdow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shawdow-border: 1px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 0%;
  width: 100%;
  background-color: #4197fa;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: var(--secondary);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 10pt;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 0px;

  background-size: cover;
  background-color: #4197fa;

  font-family: var(--core-font);
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:100%;

  border-radius: 5px;
  
  overflow: visible;
  background: #4197fa;
  padding: 15px;

  font-family: var(--logo-font);
  color: white;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}
.BannerSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width:100%;
  
    border-radius: 5px;
    
    overflow: visible;
    background: #4197fa;
    padding: 15px;
  
    font-family: var(--logo-font);
    color: white;
    font-size: 12pt;
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
  }
.BannerWhite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width:100%;
  
    border-radius: 5px;
  
    overflow: visible;
    background: white;
    padding: 15px;
    
    font-family: var(--logo-font);
  
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
  }
  .BannerBlue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width:100%;
  
    border-radius: 5px;
    
    overflow: visible;
    background: #4197fa;
    padding: 15px;
  
    font-family: var(--logo-font);
    color: white;
    font-size: 12pt;
  }
  .PageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width:90%;
    
    border-radius: 5px;
  
    overflow: visible;
    background: white;
    padding: 15px;
    
    font-family: var(--logo-font);
  
    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
  }
  .Whitespace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width:90%;
    font-size: 0pt;
    border-radius: 0px;
    color: white;
    overflow: visible;
    background: white;
    padding: 15px;
    
    font-family: var(--logo-font);
  }

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  flex-direction: row;
  justify-content: overflow-position;
  overflow: visible;
  align-items: center;
  width: 100%;
  align-items: center;
  padding: 1px;
}

.NavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: overflow-position;
  overflow: visible;
  height: 55px;
  width: 150px;
  
  background: var(--highlight);

  border-radius: 30px;

  font-size: 14px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
  align-items: center;
  width: 90%;
  align-items: center;
  padding: 1px;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: overflow-position;
  overflow: visible;
  height: 20px;
  width: 110%;
  
  background: var(--highlight);

  border-radius: 0px;

  font-size: 14px;
  font-weight: bold;
  color: black;

  text-transform: capitalize;

  border-bottom: var(--ui-shawdow-border);
  box-shadow: var(--ui-shawdow);
}
/* .WelcomeView {
    background: #4197fa;
    background-size: cover;
} */